<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="GettingStartedDbCon"
         connectionString="datasource=127.0.0.1;username=test;password=test;database=sqlrepotest;charset=gb2312" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>